@import url('https://rsms.me/inter/inter.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: rgba(249, 250, 251, 1);
  color: rgba(31, 41, 55, 1);
}

:root {
  font-family: 'Inter var', sans-serif;
}

.menu-item:hover div {
  display: block;
}

.menu-item.nuxt-link-active {
  --tw-bg-opacity: 1;
  background-color: rgba(151, 133, 96, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.prose p {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

.prose h3+* {
  margin-top: 0;
}

.prose h3 {
  color: #111827;
  font-weight: 600;
  font-size: 1.25em;
  margin-top: 1.6em;
  margin-bottom: .6em;
  line-height: 1.6;
}

.prose {
  color: #374151;
  max-width: 65ch;
}


body {
  zoom: 1.1;
}

.bg-\[\#D2E5CA\] {
  --tw-bg-opacity: 1;
  background-color: rgba(210,229,202,var(--tw-bg-opacity));
}

.bg-\[\#C0DBB5\] {
  --tw-bg-opacity: 1;
  background-color: rgba(192,219,181,var(--tw-bg-opacity));
}

.bg-\[\#C8EFF1\] {
  --tw-bg-opacity: 1;
  background-color: rgba(200,239,241,var(--tw-bg-opacity));
}

.bg-\[\#A4E5E9\] {
  --tw-bg-opacity: 1;
  background-color: rgba(164,229,233,var(--tw-bg-opacity));
}

.bg-\[\#80DBE0\] {
  --tw-bg-opacity: 1;
  background-color: rgba(128,219,224,var(--tw-bg-opacity));
}

.bg-\[\#e8c5d7\] {
  --tw-bg-opacity: 1;
  background-color: rgba(232,197,215,var(--tw-bg-opacity));
}

.bg-\[\#e8b4cf\] {
  --tw-bg-opacity: 1;
  background-color: rgba(232,180,207,var(--tw-bg-opacity));
}

.bg-\[\#d3ace5\] {
  --tw-bg-opacity: 1;
  background-color: rgba(211,172,229,var(--tw-bg-opacity));
}


.bg-\[\#cd99e5\] {
  --tw-bg-opacity: 1;
  background-color: rgba(205,153,229,var(--tw-bg-opacity));
}

.bg-\[\#7da078\] {
  --tw-bg-opacity: 1;
  background-color: rgba(125,160,120,var(--tw-bg-opacity));
}

.bg-\[\#b5ab7e\] {
  --tw-bg-opacity: 1;
  background-color: rgba(181,171,126,var(--tw-bg-opacity));
}

.bg-\[\#bcbcbc\] {
  --tw-bg-opacity: 1;
  background-color: rgba(188,188,188,var(--tw-bg-opacity));
}
