@import url('https://rsms.me/inter/inter.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: rgba(249, 250, 251, 1);
  color: rgba(31, 41, 55, 1);
}

:root {
  font-family: 'Inter var', sans-serif;
}

.menu-item:hover div {
  display: block;
}

.menu-item.nuxt-link-active {
  --tw-bg-opacity: 1;
  background-color: rgba(151, 133, 96, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.prose p {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

.prose h3+* {
  margin-top: 0;
}

.prose h3 {
  color: #111827;
  font-weight: 600;
  font-size: 1.25em;
  margin-top: 1.6em;
  margin-bottom: .6em;
  line-height: 1.6;
}

.prose {
  color: #374151;
  max-width: 65ch;
}


body {
  zoom: 1.1;
}

.bg-\[\#D2E5CA\] {
  --tw-bg-opacity: 1;
  background-color: rgba(210,229,202,var(--tw-bg-opacity));
}
